<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
  <!-- 指向AdvitemMapper.java文件 -->
  
<mapper namespace="com.lt.cloud.mapper.PricelistitemMapper">
     <select id="selectAll" parameterType="advotherReceiver" resultType="pricelistitem">
		select * from pricelistitem where E_PID=#{E_PID} and E_MID=#{E_MID} and E_AdField_ID=#{E_AdField_ID} and E_Color_ID=#{E_Color_ID} and E_AdSize_ID=#{E_AdSize_ID}
	</select>

</mapper>